// Colors
$black: #1a1a1a;
$yellow: #FFC700;
$gold: #8D734B;
$grey: #6f7172;

// Typography
$font-family-sans-serif: 'Open Sans', sans-serif;
$line-height-base: 1.6;
$text-color: #121212;
$default-font-size: 16px;


// Screen Sizing
$mobile: 600px;
$tablet: 980px;
$desktop: 1100px;
